.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/unit/coverage
test/e2e/reports
selenium-debug.log
.idea/
.ipynb_checkpoints
ml_base/.ipynb_checkpoints
lr/main/raw_data
lr/main/data
lr/main/rank/__pycache__/
lr/main/recall/__pycache__/
lr\\main\\rank\\__pycache__\
lr\main\raw_data
lr\main\data
udata/target/
data/
/data
/target/
target/
*/target/
venv/
/venv/
*.iml

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln.DS_Store
*.pyc
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/unit/coverage
test/e2e/reports
selenium-debug.log
.idea
text/data/

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.txt
